:root {
}

.unity-button {
    text-shadow: 0 0 0 rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    background-image: url("project://database/Assets/Material/Materials/Button.png?fileID=2800000&guid=c9f7ea69a4f66b342aff781126fa497f&type=3#Button");
    -unity-background-image-tint-color: rgb(255, 255, 255);
}
